<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Receive notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Wake up for notifications -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Access location for offline deals (optional) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="31" />

    <application
        android:name=".HunterApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YangMaoHunter"
        tools:targetApi="31">

        <!-- Remove ALL automatic Firebase initialization -->
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebase-init"
            tools:node="remove" />
        <provider
            android:name="com.google.android.gms.measurement.AppMeasurementContentProvider"
            android:authorities="${applicationId}.firebase-measurement-id"
            tools:node="remove" />

        <!-- Disable Firebase Crashlytics automatic initialization -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false"
            tools:node="replace" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false"
            tools:node="replace" />

        <activity
            android:name=".presentation.ui.auth.AuthActivity"
            android:exported="true"
            android:theme="@style/Theme.YangMaoHunter.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.ui.onboard.PreferenceOnboardActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.ui.deal_detail.DealDetailActivity"
            android:exported="false" />

    </application>

</manifest>
